<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    Activates annotations in beans ALREADY registered in the application context (no matter if they were
    defined with XML or by package scanning)
    -->
    <context:annotation-config/>

    <!--
    In autowiring by property name, Spring looks for a bean with the same name as the property that needs
    to be autowired. You will also need a setter method for the property.
    -->
    <bean id="countries" class="org.spring.hello.WorldCountries">
        <property name="countries">
            <list>
                <value>Portugal</value>
                <value>Romania</value>
                <value>France</value>
            </list>
        </property>
    </bean>

    <!-- Dependency injection using @Autowired annotation, not the <bean/> 'autowire' attribute -->
    <bean id="helloWorld" class="org.spring.hello.HelloWorld">
        <property name="name" value="world" />
    </bean>

</beans>
