<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">

    <!-- default-lazy-init="true" means no beans will be pre-instantiated -->

    <bean id="helloPortugal" class="org.spring.hello.HelloPortugal">
        <property name="country" value="Portugal" />
    </bean>

    <bean id="helloRomania" class="org.spring.hello.HelloRomania">
        <property name="country" value="Romania" />
    </bean>
</beans>
