<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="countries" class="org.spring.hello.Countries">
        <property name="countriesMap">
            <map>
                <entry key="1" value="Portugal"/>
                <entry key="2" value="France"/>
                <entry key="5" value="Romania"/>
                <entry key="3" value="Germany"/>
                <entry key="4" value="Wales"/>
            </map>
        </property>
    </bean>

</beans>
