<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="user" class="org.spring.hello.UserPreferences">
        <property name="properties">
            <props>
                <prop key="nickname">Ronaldo</prop>
                <prop key="picture">pikachu.jpg</prop>
                <prop key="language">en</prop>
                <prop key="theme">yelllow</prop>
            </props>
        </property>
    </bean>

</beans>
