<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Singleton scope is the default, bean 'helloPortugal' will be instantiated -->
    <bean id="helloPortugal" class="org.spring.hello.HelloPortugal">
        <property name="country" value="Portugal" />
    </bean>

    <!--
    Prevent pre-instantiation of 'helloRomania' bean by marking the bean definition as lazy-initialized.
    This tells the IoC container to create a bean instance when it is first requested, rather than at startup
    -->
    <bean id="helloRomania" class="org.spring.hello.HelloRomania" lazy-init="true">
        <property name="country" value="Romania" />
    </bean>
</beans>
