<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Template bean definition that serves as a parent definition for child definitions -->
    <bean id="helloEurope" abstract="true">
        <property name="continent" value="Europe" />
        <property name="population" value="740000000" />
    </bean>

    <bean id="helloRomania" class="org.spring.hello.HelloRomania"
          parent="helloEurope">

        <!-- the continent property value will be inherited from parent -->

        <property name="country" value="Romania" />
        
        <!-- override the population property -->
        <property name="population" value="20121641" />
    </bean>
</beans>
